[
  { cowboy_swagger
  , [ { global_spec
      , #{ swagger => "2.0"
         , info => #{title => "Canillita Test API"}
         }
      }
    ]
  }
, { lager
  , [ { handlers
      , [ {lager_console_backend, error}
        , {lager_common_test_backend, debug}
        ]
      }
    ]
  }
, { mnesia
  , [{debug, true}]
  }
, { sumo_db
  , [ {wpool_opts, [{overrun_warning, 100}]}
    , {log_queries, true}
    , {query_timeout, 30000}
    , {storage_backends, []}
    , {stores, [{canillita_store_mnesia, sumo_store_mnesia, [{workers, 10}]}]}
    , { docs
      , [ {canillita_newspapers, canillita_store_mnesia, #{module => canillita_newspapers}}
        , {canillita_newsitems, canillita_store_mnesia, #{module => canillita_newsitems}}
        ]
      }
    , {events, [{canillita_newsitems, canillita_newsitems_events_manager}]}
    ]
  },
  {canillita, []}
].
