[
  { cowboy_swagger
  , [ { global_spec
      , #{ swagger => "2.0"
         , info => #{title => "Canillita Test API"}
         }
      }
    ]
  }
, { mnesia
  , [{debug, true}]
  }
, { sumo_db
  , [ {wpool_opts, [{overrun_warning, 100}]}
    , {log_queries, true}
    , {query_timeout, 30000}
    , {storage_backends, []}
    , {stores, [{canillita_store_mnesia, sumo_store_mnesia, [{workers, 10}]}]}
    , { docs
      , [ {canillita_newspapers, canillita_store_mnesia}
        , {canillita_newsflashes, canillita_store_mnesia}
        ]
      }
    , {events, []}
    ]
  },
  {canillita, []}
].
