{deps, [
 {lager,   "2.*", {git, "git@github.com:basho/lager.git",     "master"}},
 {eper,    "0.*", {git, "git@github.com:massemanet/eper.git", "master"}},
 {emysql,  "0.*", {git, "git@github.com:Eonblast/Emysql.git", "master"}},
 {cowboy,  "0.*", {git, "git@github.com:extend/cowboy.git",   "master"}},
 {jiffy,   "0.*", {git, "git@github.com:davisp/jiffy.git",    "master"}},
 {sumo_db, "1",   {git, "git@github.com:inaka/sumo_db.git",   "master"}}
]}.
