{erl_opts, [{parse_transform, lager_transform},
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_untyped_record, debug_info]}.
{deps, [
 {lager,   "2.*", {git, "git@github.com:basho/lager.git",     "master"}},
 {eper,    "0.*", {git, "git@github.com:massemanet/eper.git", "master"}},
 {emysql,  "0.*", {git, "git@github.com:Eonblast/Emysql.git", "master"}},
 {cowboy,  "0.*", {git, "git@github.com:extend/cowboy.git",   "master"}},
 {jiffy,   "0.*", {git, "git@github.com:davisp/jiffy.git",    "master"}},
 {sumo_db, "1",   {git, "git@github.com:inaka/sumo_db.git",   "master"}}
]}.
{require_min_otp_vsn, "R16B"}.
