[
{canillita,
  [ {http_port, 4004}
  , {http_listener_count, 20}
  ]},
{sumo_db,
  [ { log_queries, false }
  , { storage_backends
    , [ { sumo_backend_mysql
        , sumo_backend_mysql
        , [ {username, "canillita"}
          , {password, "extraa!"}
          , {host,     "localhost"}
          , {port,     3306}
          , {database, "canillita"}
          , {poolsize, 10}
          ]
        }
      ]}
  , { repositories
    , [ { mysql
        , sumo_repo_mysql
        , [ {storage_backend, sumo_backend_mysql}
          , {workers, 10}
          ]}
      ]}
  , {docs,
      [ {canillita_news, mysql}
      ]}
  , {events, []}
  ]},
{lager,
  [ {colored, true},
    {handlers,
      [ {lager_console_backend, debug}
      ]}
  ]}
].
