[
{canillita,
  [ {http_port, 4004}
  , {http_listener_count, 20}
  ]},
{sumo_db,
  [ {repositories,
      [ {mysql, sumo_repo_mysql,
          [ {username, "canillita"},
            {password, "extraa!"},
            {host,     "localhost"},
            {port,     3306},
            {database, "canillita"},
            {poolsize, 10}
          ]}
      ]}
  , {docs,
      [ {canillita_news, mysql}
      ]}
  , {events, []}
  ]},
{lager,
  [ {colored, true},
    {handlers,
      [ {lager_console_backend, debug}
      ]}
  ]}
].
